<div class="top_navbar">
		<a href="indexCEO.php"><div class="logo">
			<img src="img/logo.png" style="max-width: 130px; margin-left:23%;">
		</div></a>
		<div class="top_menu">
			<div class="home_link">
				
			</div>
			<div class="right_info">
				<a href="personalsres.pp">
				<div class="icon_wrap tooltip">
					<div class="icon">
						<img src="img/CEO.png" style="width:50px; height:50px;">
						<span class="tooltiptext"><%= personalArea %></span>
					</div>
				</div></a>
				<a href="settings.php">
				<div class="icon_wrap tooltip" style="margin-top:20px">
					<div class="icon">
						<i class="fas fa-cog"></i>
						<span class="tooltiptext"><%= settings %></span>
					</div>
				</div></a>
			</div>
		</div>
	</div>